<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Enter Doctor ID to Calculate Total Revenue</h1>
        <form th:action="@{/doctor/revenue}" method="get">
            <div class="form-group">
                <label for="doctorId">Doctor ID</label>
                <input type="number" id="doctorId" name="doctorId" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Get Total Revenue</button>
        </form>
		<a href="/admin/paymentinfo" >Back to Home</a>
    </div>
</body>
</html>
