<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Patient</title>
</head>
<body>
    <h2>Fetch Patient by ID</h2>

    <!-- Form to fetch patient details by ID -->
    <form th:action="@{/fetchPatientForUpdate}" method="post">
        <label for="patientId">Patient ID:</label>
        <input  id="patientId" name="patientId" required />
        <button type="submit">Fetch Patient</button>
    </form>

    <div th:if="${error}">
        <p style="color: red;">[[${error}]]</p>
    </div>
</body>
</html>
